@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

:root {
    --primary-soft-red: hsl(7, 99%, 70%);
    --primary-yellow: hsl(51, 100%, 49%);
    --primary-Dark-desaturated-cyan: hsl(167, 40%, 24%);
    --primary-Dark-Blue: hsl(198, 62%, 26%);
    --primary-Dark-moderate-cyan: hsl(168, 34%, 41%);

    --filter-white: brightness(0) saturate(100%) invert(100%) sepia(4%) saturate(14%) hue-rotate(110deg) brightness(106%) contrast(103%);

    --filter-dark-desaturated-cyan: brightness(0) saturate(100%) invert(25%) sepia(9%) saturate(2314%) hue-rotate(116deg) brightness(103%) contrast(87%);

    --Neutral-Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Neutral-Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Neutral-Dark-grayish-blue: hsl(232, 10%, 55%);
    --Neutral-Grayish-blue: hsl(210, 4%, 67%);
    --Neutral-White: hsl(0, 0%, 100%);

    /* font-family: 'Barlow', sans-serif;
    font-weight: 600;
    
    font-family: 'Fraunces', serif;
    font-weight: 700; */

    /* font-family: 'Fraunces', serif;
    font-weight: 900;  */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    overflow-x: hidden;
}

.client-testimonials {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.client-testimonials p.description {
    padding-top: 1.5rem;
    line-height: 1.6;
}

.client-testimonials p.position {
    color: var(--Neutral-Grayish-blue);
    padding-bottom: 4rem;
    font-size: 14px;

}

.client-testimonials p {
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: var(--Neutral-Very-dark-grayish-blue);
}

.client-testimonials img {
    border-radius: 50%;
    width: 20%;
}

.client-testimonials h3 {
    padding-bottom: 4rem;
    color: var(--Neutral-Dark-grayish-blue);
    letter-spacing: 5px;
}

.client-testimonials h3,
.client-testimonials h4,
.client-testimonials p {
    text-align: center;
}

.client-testimonials h4 {
    text-align: center;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    font-size: 17px;
}

.emily-testimonial,
.jennie-testimonial,
.thomas-testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    background: var(--primary-Dark-moderate-cyan);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

footer>svg#logo-footer {
    filter: var(--filter-dark-desaturated-cyan);
    cursor: pointer;
}

footer>.footer-section1 {
    padding-top: 1.5rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

footer>.footer-section1>p {
    color: var(--primary-Dark-desaturated-cyan);
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}

footer>.footer-section1>p:hover {
    color: var(--Neutral-White);
    cursor: pointer;
}

footer>.footer-section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px
}

footer>.footer-section2>svg {
    filter: var(--filter-dark-desaturated-cyan);
}

footer>.footer-section2>svg:hover {
    filter: var(--filter-white);
    cursor: pointer;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.gallery img {
    width: 50%;
}

.gallery>.gallery-1,
.gallery>.gallery-2 {
    display: flex;
}

.graphic-design {
    background: url('./images/mobile/image-graphic-design.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 25rem;
    padding-bottom: 3rem;
}

.graphic-design p {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 1.6;
}

.graphic-design h2,
.graphic-design p {
    text-align: center;
    color: var(--primary-Dark-desaturated-cyan);
}

.graphic-design h2 {
    padding-bottom: 1.5rem;
    font-family: 'Fraunces', serif;
    font-weight: 900;
}

.header-web>.header-top {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.header-web {
    background: url('./images/mobile/image-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.header-web .logo {
    padding-top: 2rem;
    padding-left: 1rem;
}

.header-web h1 {
    color: var(--Neutral-White);
    text-align: center;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    letter-spacing: 6px;
    padding-top: 6rem;
    padding-bottom: 4rem;
}

.header-web .arrow-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 8rem;
}

.navbar-web>img {
    cursor: pointer;
    padding-right: 1rem;
}

.navbar-web>nav {
    display: none;
}

nav {
    background: var(--Neutral-White);
    position: absolute;
    width: 85%;
    left: 0;
    right: 0;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

nav::after {
    content: "";
    position: absolute;
    right: 0;
    top: -1.2rem;
    border-top: 0.6rem solid transparent;
    border-bottom: 0.6rem solid var(--Neutral-White);
    border-left: 0.6rem solid transparent;
    border-right: 0.6rem solid var(--Neutral-White);
}

nav>ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

nav>ul>li {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

nav>ul>li>a {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: var(--primary-Dark-Blue);
}

nav>ul>li>a#contact {
    color: var(--Neutral-Very-dark-desaturated-blue);
    font-family: 'Fraunces', serif;
    font-weight: 700;
    background: var(--primary-yellow);
    margin-left: auto;
    margin-right: auto;
    padding: 0.6rem;
    border-radius: 50px;
    cursor: pointer;
}

.photography {
    background: url('./images/mobile/image-photography.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 25rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
}

.photography p {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 1.6;
}

.photography h2,
.photography p {
    text-align: center;
    color: var(--primary-Dark-Blue);
}

.photography h2 {
    padding-bottom: 1.5rem;
    font-family: 'Fraunces', serif;
    font-weight: 900;
}

.transform-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.transform-brand .description p {
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: var(--Neutral-Dark-grayish-blue);
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 1.6;
}

.transform-brand>.description h2 {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

.transform-brand>.description>p#learn-more-transform {
    padding-bottom: 3rem;
    text-decoration: underline solid var(--primary-yellow) 5px;
    color: var(--Neutral-Very-dark-desaturated-blue);
    cursor: pointer;
}

.transform-brand>.description h2,
.transform-brand>.description>p#learn-more-transform {
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

.transform-brand>.description h2,
.transform-brand p {
    text-align: center;
}

.transform-brand img {
    max-width: 100%;
    height: auto;
}

.stand-out {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.stand-out .description p {
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: var(--Neutral-Dark-grayish-blue);
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 1.6;
}

.stand-out h2 {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    padding-left: 2rem;
    padding-right: 2rem;
}

.stand-out p#learn-more-standout {
    padding-bottom: 3rem;
    text-decoration: underline solid var(--primary-soft-red) 5px;
    color: var(--Neutral-Very-dark-desaturated-blue);
    cursor: pointer;
}

.stand-out h2,
p#learn-more-standout {
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

.stand-out h2,
.stand-out p {
    text-align: center;
}

.stand-out img {
    max-width: 100%;
    height: auto;
}

@media only screen and (min-width: 600px) {

    .graphic-design,
    .photography {
        padding-top: 38rem;
    }
}

@media only screen and (min-width: 768px) {

    .graphic-design h2,
    .photography h2 {
        padding-top: 2rem;
    }

    .header-web .arrow-img {
        padding-bottom: 38rem;
    }

    .transform-brand,
    .stand-out {
        flex-wrap: wrap;
    }

    .transform-brand img,
    .stand-out img {
        width: 100%;
    }

}

/* @media only screen and (max-width: 900px) {
    .transform-brand , .stand-out {
        flex-wrap: wrap;
    }
} */

@media only screen and (min-width: 1024px) {
    .client-testimonials {
        flex-direction: column;

    }

    .testimonials {
        display: flex;
        align-items: baseline;
    }

    .gallery {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .graphic-design {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .graphic-design p {
        width: 55%;
    }

    .header-web {
        background: url('./images/desktop/image-header.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header-web>.header-top {
        display: flex;
        justify-content: space-between;
        padding-top: 2rem;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .header-web .logo {
        padding-top: 0;
    }

    .navbar-web img {
        display: none;
    }

    .navbar-web>nav {
        display: block;
    }

    nav {
        margin: 0;
        padding: 0;
        background: none;
        position: relative;
        width: 100%;
        left: 0px;
        right: 0px;
        margin: 0;
        padding: 0;
    }

    nav>ul {
        flex-direction: row;
        align-items: baseline;
    }

    nav>ul>li>a {
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-family: 'Barlow', sans-serif;
        font-weight: 600;
        color: var(--Neutral-White);
    }

    nav>ul>li>a#contact {
        background: var(--Neutral-White);
        padding: 0.75rem;
    }

    nav>ul>li>a#contact:hover {
        color: var(--Neutral-White);
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.24);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
        border-radius: 50px;
    }

    nav::after {
        content: none;
        position: relative;
        right: 0;
        top: 0;
        border: 0;
    }

    .photography {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .photography p {
        width: 71%;
    }

    .section-graphic-photography {
        display: flex;
        flex-direction: row;
    }

    .stand-out {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .stand-out img,
    .transform-brand img {
        max-width: 50%;
    }

    .transform-brand {
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 1200px) {
    .testimonials {
        padding-left: 4rem;
        padding-right: 4rem;
        gap: 1rem;
    }

}

@media only screen and (min-width: 1440px) {
    .header-web .arrow-img {
        padding-bottom: 27rem;
    }

    .graphic-design p,
    .photography p {
        width: 60%;
    }

    .graphic-design h2,
    .photography h2 {
        padding-top: 2rem;
    }

    .stand-out>.description,
    .transform-brand>.description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .stand-out p,
    .transform-brand p {
        width: 65%;
    }

    .testimonials {
        padding-left: 14rem;
        padding-right: 14rem;
    }


}